* {
    margin: 0;
    padding: 0;
}
header, footer {
    display: grid;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 90%;
    height: auto;
    background-color: #2D304F;
    color: whitesmoke;
    border-radius: 10px ;
}
h1, h2 {
    text-align: center;
}
h1 {
    padding-top: 5px;
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 10px;
    
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 2px solid black;
    box-shadow: 0 1px 1px rgba(0,0,0,.16),
                0 2px 2px rgba(0,0,0,.16),
                0 4px 4px rgba(0,0,0,.16),
                0 8px 8px rgba(0,0,0,.16),
                0 16px 16px rgba(0,0,0,.16);
}